.body {
    height: 300px;
    width: 100%;
}

.main {
    color: rgb(22, 23, 23);
    text-align: center;
    background: rgb(229, 217, 240);
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.title {
    background-color: rgb(222, 196, 244);
}

.monKharap {
    padding: 5px;
    color: rgb(243, 245, 247);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgb(21, 3, 35);
}

.reset {
    padding: 5px;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgb(204, 180, 223);
    width: calc(100%);
}

.mon {
    color: rgb(245, 9, 9);
    font-size: large;
    margin: 20px;
}

.copyright {
    color: red;
    margin-top: 50px;
    text-align: center;
}